
# Streamlit & Python
__pycache__/
*.pyc
.streamlit/config.toml
secrets.toml

# Executables & Builds (Too big for GitHub)
dist/
build/
*.exe
*.pkg
*.spec

# Large Data & Archives
*.parquet
*.zip
*.csv
sync_log.txt
final_sync_log.txt
archive/
temp_yh/
