# Exclude data and binaries
*.csv
*.zip
*.ex5
*.mq5
MA_Impulse_Logger.ex5
MA_Impulse_Logger.mq5

# Exclude local Streamlit secrets and user databases
.streamlit/secrets.toml
users.json

# Exclude Python cache
__pycache__/
*.pyc

# Exclude build and dist
build/
dist/
*.spec
*.txt_log.txt
sync_log.txt
final_sync_log.txt
access_logs.json
