streamlit==1.32.0
pandas
numpy
pyarrow
plotly
matplotlib
seaborn
openai
requests
scikit-learn
scipy
pygwalker
streamlit-aggrid
pandas-ta-classic==0.4.47
statsmodels
QuantStats
duckdb==0.9.2
polars
altair
xgboost
huggingface_hub
streamlit-autorefresh
yfinance
ccxt
toml
mplfinance
