streamlit
pandas
numpy
pyarrow
plotly
matplotlib
seaborn
openai
requests
scikit-learn
scipy
pygwalker>=0.4.8
streamlit-aggrid
pandas-ta-classic
statsmodels
QuantStats
duckdb
polars
altair
xgboost
huggingface_hub
streamlit-autorefresh
yfinance
ccxt
toml
mplfinance
