streamlit
pandas
numpy
pyarrow
plotly
matplotlib
seaborn
openai
requests
scikit-learn
scipy
pygwalker
streamlit-aggrid
pandas-ta==0.3.14b0
numba==0.61.2
statsmodels
QuantStats
duckdb
polars
altair
xgboost
huggingface_hub
streamlit-autorefresh
yfinance
ccxt
toml
mplfinance
